AGENT_MONITOR_HOST=127.0.0.1
AGENT_MONITOR_PORT=8787
AGENT_MONITOR_TOKEN=
AGENT_MONITOR_DATA_DIR=.agent-monitor
AGENT_MONITOR_POLL_MS=2500
AGENT_MONITOR_HISTORY_DAYS=7
AGENT_MONITOR_APPROVAL_TIMEOUT_MS=570000
AGENT_MONITOR_CODEX_APPROVAL_TTL_MS=120000
AGENT_MONITOR_WINDOWS_PS=1
AGENT_MONITOR_WINDOWS_PS_CACHE_MS=10000

VITE_API_BASE=http://127.0.0.1:8787
VITE_AGENT_MONITOR_TOKEN=
